@import "tailwindcss";

/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
  .footer{
    padding:0 25rem;
  }
  .Mycards{
    padding: 2rem 12rem;
  }
@media screen and (max-width: 1112.5) {
  .footer{
    padding:0 8px ;
  }
  .Mycards{
    padding: 20px 10px;
  }
}
